.book {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 100%;
}

.formpage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    width: 70%;
}

.formpage form {
    width: 100%;
    flex: 1;
}

.formpage img {
    max-width: 400px;
    height: auto;
}
.formpage label{
    text-align: left;
}
